body {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  min-width: 340px;
}

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: rgba(255,255,255,.7);
}

.header-link {
  text-align: center;
  padding: 20px 0;
}

/*-- about --*/
.about-title {
  text-align: center;
  margin-top: 60px;
  padding: 20px;
}

.about-main-padding {
  padding: 0 20px;
}

.about-main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 200px 100px 1fr;
  max-width: 1140px;
  padding: 30px;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
}

.about-main-image-parent {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  min-height: 200px;
}

.about-main-title {
  text-align: center;
  grid-column: 1/2;
  grid-row: 2/3;
  padding-top: 40px;
  font-size: 1.6em;
  font-weight: bold;
}

.about-main-text {
  grid-column: 2/3;
  grid-row: 1/3;
  padding: 30px;
}

@media (max-width: 767px) {
  .about-main-image-parent {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .about-main-title {
    text-align: center;
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .about-main-text {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

.about-main-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 180px;
  height: 180px;
  background: grey;
  border-radius: 50%;
  background-image: url(./assets/about-image.svg);
  background-size: cover;
  background-position: center center;
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
}
.about-main-image :hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

/*-- skill --*/
.skill-title {
  text-align: center;
  margin-top: 60px;
  padding: 20px;
}

.skill-main-padding {
  padding: 0 20px;
}

.skill-main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  max-width: 1140px;
  padding: 30px;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
}

.skill-main-title {
  grid-column: 1/3;
  text-align: center;
  font-size: 1.4em;
}

.skill-main-item {
  grid-column: 1/2;
  text-align: right;
  padding: 10px;
  font-size: 1.3em;
  font-weight: 500;
}

.skill-main-rating {
  grid-column: 2/3;
  padding: 10px;
}

/*-- works --*/
.works-title {
  text-align: center;
  margin-top: 60px;
  padding: 20px;
}

.works-main-padding {
  padding: 0 20px;
}

.works-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 767px) {
  .works-main-container {
    grid-template-columns: 1fr;
  }
}

.works-main-project {
  margin: 20px;
  background-color: #fff;
}

.works-main-project-img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.works-main-project-img img {
  width: 100%;
  transition: all .3s ease;
}
.works-main-project-img img:hover {
  transform: scale(1.1, 1.1);
}

.works-main-project-text {
  padding: 20px 30px;
}
.works-main-project-text h2 {
  font-size: 1.1em;
  margin: 0;
  margin-bottom: 10px;
}
.works-main-project-text p {
  font-size: 1em;
  color: #606060;
  margin: 0;
}
