@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap');

body {
  height: 100%;
  width: 100%;
  min-width: 340px;
  background-image: url(./assets/background.jpg);
  font-family: 'Noto Sans JP', sans-serif;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

a,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.title {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #ff7e67;
  transition: .5s;
  z-index: 50;
  pointer-events: none;
}

.title-text {
  position: fixed;
  top: 0;
  left: 50%;
  margin-top: 400px;
  color: #fff;
  transform: translateY(-50%) translateX(-50%);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 6em;
}

.page-title {
  text-align: center;
  padding: 80px 0 30px;
}

.page-title span {
  padding: 0 50px 2px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 2.4em;
  border-bottom: solid 1.5px;
  border-color: #ff7e67;
}

.footer {
  background-color: #07689f;
  color: #fff;
  text-align: center;
  padding: 5px;
}

/*-- header --*/
.header-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #fafafa;
  min-width: 340px;
}

.header-link {
  position: relative;
  text-align: center;
  cursor: pointer;
  padding: 20px 0 10px;
  border-bottom: solid 1.5px;
  border-color: #07689f;
}
.header-link::before {
  content: "";
  position: absolute;
  transition: all .5s ease 0s;
  height: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.header-link:hover::before,
.header-link:active::before {
  height: 100%;
  background: linear-gradient(to bottom, #fafafa, #a2d5f2);
}

.header-link p {
  margin: 0;
  transition: .3s;
  color: #07689f;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 1em;
}
.header-link:hover p,
.header-link:active p{
  letter-spacing: 3px;
  transform: translateY(-3px);
}

/*-- home --*/
.home-main-padding {
  padding: 0 20px;
}

.home-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1140px;
  height: calc(100vh - 190px);
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 33px;
}
@media screen and (max-width: 767px) {
  .home-main-container {
    grid-template-columns: 1fr;
  }
}

.home-main-about {
  position: relative;
  height: 100%;
}
.home-main-about::before {
  content: '';
  position: absolute;
  background-size: cover;
  background-image: url(./assets/home-about.jpg);
  transition: .5s;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.home-main-about:hover::before,
.home-main-about:active::before {
  filter: blur(5px);
}
.home-main-about:hover span,
.home-main-about:active span {
  opacity: 1;
}

.home-main-skill {
  position: relative;
  height: 100%;
}
.home-main-skill::before {
  content: '';
  position: absolute;
  background-size: cover;
  background-image: url(./assets/home-skill.jpg);
  transition: .5s;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.home-main-skill:hover::before,
.home-main-skill:active::before {
  filter: blur(5px);
}
.home-main-skill:hover span,
.home-main-skill:active span {
  opacity: 1;
}

.home-main-works {
  position: relative;
  height: 100%;
}
.home-main-works::before {
  content: '';
  position: absolute;
  background-size: cover;
  background-image: url(./assets/home-works.jpg);
  transition: .5s;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.home-main-works:hover::before,
.home-main-works:active::before {
  filter: blur(5px);
}
.home-main-works:hover span,
.home-main-works:active span {
  opacity: 1;
}

.home-main-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 30px;
  width: 150px;
  text-align: center;
  color: #fff;
  font-size: 2.6em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  pointer-events: none;
  opacity: 0;
  transition: .5s;
}

/*-- about --*/
.about-main-padding {
  padding: 0 20px;
}

.about-main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 200px 100px 1fr;
  max-width: 1140px;
  padding: 30px;
  background-color: #fafafa;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
}

.about-main-image-parent {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  min-height: 200px;
}

.about-main-title {
  text-align: center;
  grid-column: 1/2;
  grid-row: 2/3;
  padding-top: 40px;
  font-size: 1.6em;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}

.about-main-text {
  grid-column: 2/3;
  grid-row: 1/3;
  padding: 0 10px;
}
.about-main-text p {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .about-main-image-parent {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .about-main-title {
    text-align: center;
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .about-main-text {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

.about-main-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 180px;
  height: 180px;
  background: grey;
  border-radius: 50%;
  background-image: url(./assets/profile.jpg);
  background-size: cover;
  background-position: center center;
  transition: box-shadow .5s;
  will-change: transform;
  border: 15px solid white;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, .3);
}
.about-main-image :hover,
.about-main-image :active {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, .4);
}

.about-contact-padding {
  padding: 0 20px;
}

.about-contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 1140px;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
}

.about-contact-title {
  text-align: center;
  padding-top: 30px;
}

.about-contact-title span {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  font-weight: 600;
  border-bottom: solid 2px;
  border-color: #ff7e67;
  padding: 0 30px;
}

.about-contact {
  padding: 20px;
  transition: .3s;
}
.about-contact p {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1em;
}

@media screen and (max-width: 767px) {
  .about-contact{
    padding: 20px 0;
  }
}

.about-contact:hover,
.about-contact:active {
  background-color:rgba(255,255,255,0.5);
}

.about-contact-form {
  height: 60px;
  width: 60px;
  margin: auto;
  background-image: url(./assets/mail.svg);
}

.about-contact-linkedin {
  height: 60px;
  width: 60px;
  margin: auto;
  background-image: url(./assets/linkedin.svg);
}

.about-contact-twitter {
  height: 60px;
  width: 60px;
  margin: auto;
  background-image: url(./assets/twitter.svg);
}

/*-- skill --*/
.skill-padding {
  padding: 0 20px 20px;
}

.skill-container {
  background-color: #fafafa;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
}

.skill-text-container {
  display: grid;
  grid-template-columns: minmax(70px, 1fr) 2fr;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 30px 0;
}

.skill-text-rate {
  text-align: right;
  padding-right: 10px;
}

.skill-text-star {
  display: inline-block;
  background-image: url(./assets/skill-star.svg);
  height: 15px;
  width: 15px;
  margin: 0 1px;
}

.skill-main-container {
  display: grid;
  grid-template-columns: 1fr minmax(130px, 1fr) 1fr minmax(130px, 1fr) 1fr minmax(130px, 1fr);
  max-width: 1140px;
  padding: 10px 30px 30px;
  margin-right: auto;
  margin-left: auto;
}

.skill-main-title {
  grid-column: 1/7;
  text-align: center;
  padding: 20px 0 10px;
}

.skill-main-title span {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  border-bottom: solid 2px;
  border-color: #ff7e67;
  padding: 0 30px;
}

.skill-main-item {
  text-align: right;
  padding: 10px;
  font-size: 1.3em;
  font-weight: 500;
}

.skill-main-rating {
  padding: 10px;
}
@media screen and (max-width: 991px) {
  .skill-main-container {
    grid-template-columns: 1fr minmax(130px, 1fr) 1fr minmax(130px, 1fr);
  }
  .skill-main-title {
    grid-column: 1/5;
  }
}
@media screen and (max-width: 767px) {
  .skill-main-container {
    grid-template-columns: 1fr minmax(130px, 1fr);
  }
  .skill-main-title {
    grid-column: 1/3;
  }
}

.rating-star {
  display: inline-block;
  background-image: url(./assets/skill-star.svg);
  height: 29px;
  width: 29px;
  margin: 0 3px;
}

/*-- works --*/
.works-main-padding {
  padding: 0 20px;
}

.works-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .works-main-container {
    grid-template-columns: 1fr;
  }
}

.works-main-project {
  margin: 20px;
  background-color: #fafafa;
}

.works-main-img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.works-main-img img {
  width: 100%;
  transition: all .3s ease;
}
.works-main-img img:hover,
.works-main-img img:active {
  transform: scale(1.1, 1.1);
}

.works-main-project-text {
  padding: 20px 30px;
}
.works-main-project-text h2 {
  font-size: 1.1em;
  margin: 0;
  margin-bottom: 10px;
}
.works-main-project-text p {
  font-size: 1em;
  color: #606060;
  margin: 0;
}

.works-main-project-tag {
  padding-top: 10px;
}

.works-main-project-tag div {
  display: inline-block;
  background-color: #e0e0e0;
  color: #505050;
  font-size: .8em;
  margin: 4px;
  padding: 4px;
  border-radius: 8%;
}
